/* Mobile */
@media (max-width: 739px) {
  .hide-on-mobile,
  .hide-on-mobile-tablet {
    display: none;
  }

  :root {
    --header-height: 70px;
  }

  .header > .grid {
    height: 70px;
  }

  .header-mobile-wrap {
    display: block;
  }

  .header-with-search {
    width: 100%;
    left: 0;
    right: 0;
    display: none;
    position: relative;
    animation: mobileSearchSide 0.3s linear;
  }
  .search-display {
    display: block;
  }
  @keyframes mobileSearchSide {
    from {
      top: -20px;
      opacity: 0;
    }
    to {
      top: 0;
      opacity: 1;
    }
  }
  .search {
    width: 100%;
    box-shadow: 0 0 3px #999;
  }
  .history {
    width: 100%;
  }
  /* ====================================== */

  /* -------------------Slider---------------- */

  .sliders-wrap {
    max-height: 230px;
  }

  .sliders {
    height: 230px;
  }

  .slide img {
    width: 100%;
    height: 230px;
  }
  /* ============================== */
  /* --------------Product----------------- */
  .product-item_img,
  .product-item_img img {
    height: 200px;
  }

  .product-item_name a {
    font-size: 1.6rem;
  }

  .product-item_name p {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .product-price {
    width: 60%;
    font-size: 1.7rem;
  }

  .product-cart-buy {
    width: 30%;
  }
  /* =========================================== */
  /* Home-order */
  .form-gr > textarea {
    height: 100px;
  }

  .heading-order {
    padding: 26px 0 15px;
    font-size: 2.3rem;
  }
  /* Home-news */
  .news-img img {
    height: 270px;
  }

  .article {
    margin-left: 30px;
    margin-right: 30px;
  }

  .title-text > h3 {
    font-size: 2.6rem;
    line-height: 3.5rem;
  }

  .sub-title {
    font-size: 2.1rem;
  }

  /* About */
  .about-us img {
    width: 100%;
    height: 220px;
    transform: translate(0);
  }

  .about-us p {
    padding-left: 10px;
  }

  .about-img-wrap {
    height: 220px;
    width: 96%;
    margin: 0 8px;
  }
  /* ===================== */
  /* Footer */

  .footer-wrap > div {
    padding: 10px 0 10px 10px;
  }

  .heading-title {
    font-size: 1.6rem;
    font-weight: 600;
  }

  .footer-logo_img {
    width: 95px;
    height: 95px;
  }
  .footer-list > li {
    line-height: 2.8rem;
  }
  .license-logo img {
    width: 120px;
    height: 50px;
  }

  .footer-list > li > a > img {
    width: 50px;
    height: 50px;
  }

  .footer_bottom {
    top: 0;
  }
  /* ==================================== */
  /*                PRODUCT */

  .product-title-text {
    font-size: 3rem;
  }

  .item__filter-img a,
  .item__filter-img a img {
    height: 200px;
  }

  .item__filter-price {
    font-size: 1.7rem;
  }
  /* ===================================== */
  /* detail page */
  .product-image-frame {
    width: 70%;
    margin: 0 auto 20px;
  }

  .button-buy-product button {
    width: 40%;
    font-size: 1.7rem;
  }
  .description-info {
    width: 40%;
    font-size: 1.7rem;
  }
  .comment-item {
    width: 40%;
    left: 36%;
    font-size: 1.6rem;
  }

  .post-comment {
    width: 35%;
  }
  /* ACCOUNT page */
  .account-form-outer {
    width: 60%;
  }

  /* saleOFF */
  .layout-saleOff-container h3 {
    font-size: 1.8rem;
  }
  .layout-saleOff {
    padding: 0 20px;
    grid-template-columns: 1fr;
    justify-content: center;
    grid-template-rows: repeat(4, 430px) 500px;
    grid-template-areas: "h1" "h2" "h3" "h5" "h4";
  }
  .layout-item:first-child {
    grid-area: h1;
  }
  .layout-item:nth-child(2) {
    grid-area: h2;
  }
  .layout-item:nth-child(3) {
    grid-area: h3;
  }
  .layout-item:nth-child(5) {
    grid-area: h5;
  }
  .layout-item:nth-child(4) {
    grid-area: h4;
  }
  .layout-item-img img {
    height: 205px;
  }
  .layout-item-img.large-img img {
    height: 290px !important;
  }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px) {
  .hide-on-tablet {
    display: none;
  }

  /* -------------------------------Slider------------------------- */
  .sliders-wrap {
    max-height: 300px;
  }

  .sliders {
    height: 300px;
  }

  .slide img {
    width: 100%;
    height: 300px;
  }

  .category-wrap {
    left: 18%;
  }
  /* ================================================================== */
  /* ----------------------------Product-------------------- */
  .product-item_img {
    height: 210px;
  }
  .product-item_img img {
    height: 210px;
  }

  .product-price {
    width: 60%;
    font-size: 1.7rem;
  }
  /* home-news */

  /*  */
  .news-img img {
    height: 235px;
  }

  .news-wrap {
    height: 405px;
  }

  .about-img-wrap {
    height: 220px;
    margin: 0 30px;
  }

  .about-img-wrap img {
    width: 100%;
    height: 220px;
  }
  /* Footer */
  .footer-wrap > div {
    padding: 20px 11px;
  }

  /* ==================================== */
  /*                PRODUCT */
  /* ===================================== */
  .item__filter-img {
    max-height: 200px;
  }

  .item__filter-img a {
    height: 200px;
  }
  .item__filter-img a img {
    height: 200px;
  }

  .item__filter-heading-title {
    font-size: 1.7rem;
  }

  .item__filter-heading-title-text {
    line-height: 2.6rem;
  }

  .item__filter-heading-title-code {
    margin: 0;
    font-size: 1.6rem !important;
  }

  .item__filter-price {
    font-size: 1.7rem;
    font-weight: 500;
    height: 40px;
    width: 47%;
  }

  .item__filter-cart-buy i {
    font-size: 1.3rem;
  }
  /* ================================= */
  /* DETAIL PAGE */
  .product-title-text {
    font-size: 2.4rem;
  }
  .description-info {
    width: 28%;
  }
  .comment-item {
    width: 24%;
    left: 25%;
  }
  .add-to-cart {
    width: 40%;
  }
  .buy-it {
    width: 30%;
  }

  /* saleOFF */
  .layout-saleOff {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    grid-template-rows: 430px 430px 600px;
    grid-template-areas: "h1 h2" "h3 h5" "h4 ...";
  }
  .layout-item:nth-child(4) {
    grid-area: h4;
    grid-row: 3/4;
    grid-column: 1/3;
  }
  .layout-item:nth-child(5) {
    grid-area: h5;
  }
  .layout-item:nth-child(3) {
    grid-area: h3;
  }
  .layout-item-img img {
    height: 200px;
  }
}

/* > PC low resolution */
@media (min-width: 1200px) {
  .container {
    max-width: inherit;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: inherit;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: inherit;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: inherit;
  }
}
